@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";

:root {
  --cardBorder: 7px;
  --bg-width: 20px;
  --bg-height: 20px;
  --flip-card-animation-time: 0.4s;
  --background-animation-time: 30s;

  --s: 35px; /* control the size*/
  --c1: #740012;
  --c2: #c02942;

  --_g: #0000 calc(-650% / 13) calc(50% / 13), var(--c1) 0 calc(100% / 13),
    #0000 0 calc(150% / 13), var(--c1) 0 calc(200% / 13),
    #0000 0 calc(250% / 13), var(--c1) 0 calc(300% / 13);
  --_g0: repeating-linear-gradient(45deg, var(--_g));
  --_g1: repeating-linear-gradient(-45deg, var(--_g));
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes background-scroll {
  0% {
    top: -50%;
    left: -50%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}

#container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

/* ---- BACKGROUND ---- */
#background-pattern {
  position: fixed;
  width: 200%;
  height: 200%;
  animation: background-scroll var(--background-animation-time) linear infinite;

  background: var(--_g0), var(--_g0) var(--s) var(--s), var(--_g1),
    var(--_g1) var(--s) var(--s) var(--c2);
  background-size: calc(2 * var(--s)) calc(2 * var(--s));
}

/* ---- CARDS ---- */
/* BEEG screens */
@media screen and (min-width: 1024px) {
  :root {
    --cardHeight: 200px;
  }

  #cards-list {
    margin: 35px auto;
  }

  #cards-list > .flip-card {
    margin: -35px -10px;
  }
}

/* SMOL screens */
@media screen and (max-width: 1023px) {
  :root {
    --cardHeight: 8rem;
  }

  #cards-list {
    margin: 0 auto;
    row-gap: 0;
    column-gap: 5px;
  }

  #cards-list > .flip-card {
    margin-bottom: -10px;
  }
}

.flip-card {
  width: var(--cardHeight);
  height: calc(var(--cardHeight) * 1.56);
  background-color: transparent;
  transform: rotateY(180deg) translate(5000px, 1000px);
  transform-style: preserve-3d;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  box-shadow: 2.5px 5px 5px hsl(0deg 0% 0% / 0.42);
  border-radius: 10px;
}

.flip-card:hover {
  cursor: pointer;
}

.flip-card.active:hover {
  cursor: unset;
}

/* This container is needed to position the front and back side of the card */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform var(--flip-card-animation-time);
  transform-style: preserve-3d;
}

.flipped-card {
  transition: unset;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* It fits the image in the container */
.flip-card-front img,
.flip-card-back img {
  width: 100%;
  height: 100%;
  border-radius: var(--cardBorder);
  object-fit: cover;
  overflow: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/* ------------------------------------ */
/* ---- ----   TailwindCSS    ---- ---- */
/* ------------------------------------ */

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
